<div class="container-flud banner1">
    <div class="container">
        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" href="#">
                <img src="../../assets/images/Hanasoft Logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav m-auto">
                <li class="nav-item " style="margin-bottom: 1px !important;">
                  <a class="nav-link" href="#" >
                      <img src="../../assets/images/Home - enable.png"  alt="">
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about-content">About us</a>
                </li>
                <li ngbDropdown class="nav-item dropdown">
                  <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#our-service" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Services
                  </a>
                  <div  ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a ngbDropdownItem class="dropdown-item text-danger"  href="#">Action</a>
                    <a ngbDropdownItem class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a ngbDropdownItem class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#analytic-section" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analytics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact us</a>
                  </li>
                  <li class="nav-item last-button" >
                    <a class="nav-link" href="#" style="padding: 0px 10px; margin-top: 3px; "><span class="green-circle" ></span> Current openings</a>
                  </li>
              </ul>

            </div>
          </nav>
    </div>
    <!-- ..............................navbar over...........................  -->
    <!-- .............................Home COntent...........................  -->
    <div class="home-content">
        <div class="container">
            <div class="home-text">
                    <h1 class="home-title text-center">Welcome To <br> <span> HANASOFT</span></h1>
                    <p class="text-center">HANASOFT Solutions is a fast growing technology, IT consulting services <br> and Innovation company focused on leveraging technology and <br> innovations to drive business value.</p>
            </div>
        </div>
    </div>
</div>

<!-- *************************************END Home COntent***************************-->

<!-- ...............About us section....................  -->
<div class="container-fluid about-content" id="about-content">
<div class="container">
<div class="why-choose">
    <div class="row about-one">
        <div class="col-md-6">
            <div class="scale-line1">
                <img src="../../assets/images/Design 2.png" alt="">
            </div>
            <div class="choose-title">
                <h1>Why To Choose <br> <span>HANASOFT</span></h1>
                <p>HANASOFT Solutions is a fast growing technology, IT consulting services and Innovation company focused on leveraging technology and innovations to drive business value.</p>
                <p>We are powered by a talented IT and consulting professionals in S/4HANA, HANA, SAP Enterprise, BW on HANA, EDW, Big Data, Financials, Customer Relationship Management, Supply Chain Management, Human Resources and Web development amongst other capabilities.</p>
            </div>
            <div class="design3">
                <img src="../../assets/images/Design 3.png" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/images/Why to choose hanasoft image.png" alt="">
        </div>
    </div>
    <div class="row about-two">
        <div class="col-md-6">
            <div class="about-image">
                <img src="../../assets/images/about us.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-6">
          <div class="about-text">
            <div class="scale-line1">
                <img src="../../assets/images/Design 2.png" alt="">
            </div>
              <h2 class="about-title">
                About us
              </h2>
                 <p>HANASOFT Solutions is a fast growing technology,
                   IT consulting services and Innovation.</p>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                 Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                 an unknown printer took a galley of type and scrambled it to make a type sp
                 ecimen book. It has survived not only five centuries,
                 but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                 <button class="btn btn-primary about-btn">Know more</button>
                 <div class="advice-consult">
                     <p>Whatever your reason for seeking business <br> consulting & advice?</p>
                     <h5>You’ve come to the right place...</h5>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- ...............End about us section....................  -->
<div class="dots-circle">
    <div class="design1">
        <img src="../../assets/images/Design 1.png" alt="">
    </div>
</div>
<!-- *******************************Services********************************************* -->
<div class="our-services" id="our-services">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="service-title">
                    <h2>Our Services</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br> Lorem Ipsum has been the industry's standard</p>
                </div>
            </div>

        </div>
        <div class="row services3">
            <div class="col-md-4 service-section1">
                <h5>IT Services</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                <img src="../../assets/images/Read more(Next) - Disable.png" alt="">
            </div>
            <div class="col-md-4 service-section2">
                <h5>Support</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                <img src="../../assets/images/Read more(Next) - Enable.png" alt="">
            </div>
            <div class="col-md-4 service-section1">
                <h5>Workforce Solutions</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                <img src="../../assets/images/Read more(Next) - Disable.png" alt="">
            </div>
        </div>

    </div>
</div>
<!-- *******************************END Services********************************************* -->

<!-- *************************************Analytics********************************  -->
<div class="analytic-section" id="analytic-section">
       <div class="row">
        <div class="col-5" ></div>
        <div class="col-5" >
            <div class="analytic-title" >
                <h2>Analytics</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard</p>
                </div>
        </div>
    </div> 
     <div class="analytic-bg" > 
      <div class="container-flud" >
        <div class="row  analytic-content no-gutters" >
            <div class="col-md-6 analytic-image" >
                <img src="../../assets/images/Analytics.png" alt="" >
            </div>
             <div class="col-md-6" >
                <div class="big-data"  >
                    <h5 >Big Data / Cloud</h5>
                    <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         Lorem Ipsum has been the industry's standard dummy text ever since the 1
                         500s, when an unknown printer took a galley of type and scrambled it to 
                         make a type specimen book. It has survived not only five centuries, but al
                        so the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <img src="../../assets/images/Read more(Next) - Enable.png" alt="">
                </div> 
            </div> 
        </div>
    </div>
    <div class="container">
            <div class="footer" id="contact">
            <div class="row side-padding">
            <div class="col footer-sections1">
                <h5>Stay Connected</h5>
                <div class="search d-flex">
                    <input type="text" name="" id="" placeholder="Enter email ID">
                    <img src="../../assets/images/Stay Connected icon.png" alt="">
                </div>
             
                <div class="social-icons">
                    <a href="">
                        <img src="../../assets/images/facebook.png" alt="">
                    </a>
                    <a href="">
                        <img src="../../assets/images/google-plus.png" alt="">
                    </a>
                    <a href="">
                        <img src="../../assets/images/linkedin.png" alt="">
                    </a>
                    <a href="">
                        <img src="../../assets/images/twitter.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col footer-sections">
            <h5>Quick</h5>
            <a href="">Home</a>
            <a href="">About us</a>
            <a href="">Serivces</a>
            <a href="">Analytics</a>
            <a href="">Contact us</a>
            </div>
            <div class="col footer-sections">
                <h5>Serivces</h5>
                <a href="">IT Services</a>
                <a href="">About us</a>
                <a href="">Support</a>
                <a href="">Workforce Solutions</a>
            </div>
            <div class="col footer-sections">
                <h5>Analytics</h5>
                <a href="">Big Data / Cloud</a>
                <a href="">SAP BW, SAP BPC</a>
                <a href="">S/4HANA, HANA</a>
                <a href="">SAP Business Objects</a>
            </div>
            <div class="col footer-sections footer-icons">
                <h5>Analytics</h5>
                <a href=""><i class="fa fa-phone" aria-hidden="true"></i>312.459.3636</a>
                <a href=""><i class="fa fa-envelope" aria-hidden="true"></i> info@hanasoftinc.com</a>
                <a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>1755 Park Street, Suite 200 Naperville IL 60563</a>
            </div>
        </div>
        <div class="row footer-small-bar">
            <div class="col">
                <p>Copyright © HANASOFT Inc. All Rights Reserved</p>
            </div>
            <div class="col">
                <p class="text-right">Privacy Policy Terms of Use</p>
            </div>
        </div>
    </div>

    </div> 
</div> 
</div>
<!-- *************************************eND Analytics********************************  -->
